body { 
    font-family:'Press Start 2P', sans-serif;
}


body,figure {
    margin: 0px;

}

form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: none;
    font-family: inherit;
}
