.card-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C5B84;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFFFFF;
    
}


.card-projects.-blue {
    background-color: #0FC8C8 ;
}


.card-projects:hover {
    transform: scale(1.08);
}

