.wrapper-card  {
    display: flex;
    justify-content: space-between;
    margin-right: 308px;
    margin-left: 307px;
  
}



.main-section.-second {
    background-color: #0c0c0c;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 3px solid #0FC8C8;
}

.main-section.-second .main-title {
    margin-bottom: 90px;
}
